/*Reset Style Sheet*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
display: block;
font-family: "Open Sans", Sans-serif;
}